---
import AdviceCard from '@/components/AdviceCard'
import Icon from '@/components/ui/Icon'
import BaseLayout from '@/layouts/BaseLayout.astro'

const response = await fetch(`https://api.adviceslip.com/advice`)
const { slip } = await response.json()
console.log(slip.advice)
---

<BaseLayout title="Ask for Advice!" description={slip.advice}>
  <main class="flex flex-col justify-center items-center h-full flex-grow p-4">
    <AdviceCard client:load entry={slip} />
  </main>
</BaseLayout>
