---
import Navbar from '@/components/Navbar'
import { ViewTransitions } from 'astro:transitions'
const { title = 'Default site name', description } = Astro.props
---

<html lang="en" class="w-full">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet" />
    <title>{title} {description ? `| ${description}` : null}</title>
    <ViewTransitions />
    <script>
      let oldSTyleSheet: Element | null = null
      let oldCSS: CSSStyleSheet | undefined = undefined

      document.addEventListener('astro:before-swap', () => {
        oldSTyleSheet = document.querySelector('[data-emotion="cl-internal"]') as Element | null
        oldCSS = (oldSTyleSheet as any)?.sheet as CSSStyleSheet | undefined
      })

      document.addEventListener('astro:after-swap', () => {
        if (!oldSTyleSheet || !oldCSS?.cssRules) return
        document.head.appendChild(oldSTyleSheet)
        for (let i = 0; i < oldCSS.cssRules.length; i++) {
          ;((oldSTyleSheet as any).sheet as CSSStyleSheet).insertRule(oldCSS.cssRules[i].cssText)
        }
      })
    </script>
  </head>
  <body
    class="bg-background text-foreground flex flex-col min-h-[100vh] selection:bg-primary selection:text-background"
  >
    <Navbar client:load />
    <main class="flex flex-col items-center min-h-full flex-grow p-4 sm:pt-10">
      <slot />
    </main>
    <!-- <footer>hey there footer</footer> -->
  </body>
</html>
